@import "fonts/fonts";
@import "~font-awesome/scss/font-awesome";

body {
  font-family: 'Roboto', sans-serif;
  cursor: default;
}

.app-header.navbar {
  background-color: $navbar-brand-bg;
  border-bottom-color: $navbar-brand-bg;
}

.app-header.navbar .navbar-toggler {
  font-size: 20px;
  padding: 10px;
  color: #fff;
  border: none;
}

.app-header.navbar .navbar-toggler-icon {
  background: none !important;
}

.app-header.navbar .navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.app-header.navbar .navbar-brand .navbar-brand-content {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 1.25rem;
}

.brand-minimized .app-header.navbar .navbar-brand .navbar-brand-content {
  display: none;
}

.app-header.navbar .navbar-brand img {
  height: 25px;
  margin-right: 10px;
  vertical-align: text-top;
}

.btn-add-asset {
  $background: #2b576d;
  $border: darken($background, 10%);
  @include button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%));
}

footer.app-footer {
  background-color: darken($body-bg, 5%);
  border-top: darken($body-bg, 5%);
  color: #777777;
}

footer.app-footer div.copyright {
  width: 100%;
  text-align: center;

  @include media-breakpoint-up(md) {
    width: 50%;
    text-align: left;
  }
}

footer.app-footer div.attribution {
  width: 100%;
  text-align: center;

  @include media-breakpoint-up(md) {
    width: 50%;
    text-align: right;
  }
}
