// This file is included in the build if src/main.js imports it.
// Otherwise the core Material CSS file is bundled.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

// App Shared Variables
// --------------------------------------------------
// Shared Stylus variables go in the app.variables.styl file
@import 'app.variables'

// App Material Design Variables
// --------------------------------------------------
// Material Design only Stylus variables can go here
// http://quasar-framework.org/api/css-stylus-variables.html

$typography-font-family ?= 'Roboto'

$toolbar-color ?= white
$toolbar-background ?= $primary
$toolbar-active-color ?= $primary
$toolbar-faded-color ?= composite-color($primary)

// Quasar Material Design Stylus
// --------------------------------------------------
// Custom App variables must be declared before importing Quasar.
// Quasar will use its core values when a custom variable isn't provided.
@import '~quasar-framework/dist/quasar.mat.styl'

body
  background-color #F5F5F6

.toolbar
  padding-top 15px
  padding-bottom 11px

  .toolbar-content img
    max-width 110px;
    border-style none;

  .toolbar-meta
    color darken(white, 30%)

.layout-view h1
  font-size 2.4rem;
  margin 0 0 .7rem;

.layout-view h1 > small
  font-size 65%
  color $faded

.st-modal .modal-content
  color #777

  @media (min-width $layout-medium-min)
    width 400px

.st-modal .modal-content .list
  margin-bottom 0.912rem

.st-modal .modal-content .textfield
  width 100%

.st-modal .modal-content .form-group
  margin-bottom 20px

  &:last-child
    margin-bottom 0

.st-modal .modal-content .form-group label
  cursor default

.st-modal .modal-content .st-footer
  @extends .row

.st-card-value
  @extends .card
  background-color $primary-light

.st-card-value .card-content
  text-align center
  color $light
  padding-top 32px
  padding-bottom 32px

.st-card-value .card-content span
  font-size 3.4rem
  font-weight 200

.st-card-summary
  @extends .card
  background-color $primary-light

.st-card-summary .card-title
  font-weight 300
  color white
  background-color $primary
  padding 14px 8px

.st-card-summary .card-footer
  font-weight 300
  color white
  background-color $primary
  padding 7px 4px
  text-align center

.st-card-summary .card-title span
  float right
  font-size 1.1rem

.st-card-summary .card-content
  color $light
  padding-top 1.6rem
  padding-bottom 1.6rem

.st-card-summary .card-content h3
  font-size 2.8rem
  font-weight 200
  text-align center
  margin 0

.st-data-table
  background-color $primary
  border-color $primary-dark
  font-size 1rem

.st-data-table .q-data-table-title
  color white
  font-size 1.1rem

.st-data-table .q-data-table-selection
  background $neutral

.st-data-table .q-picker-textfield.active .q-picker-textfield-value
  color white

.st-data-table .q-picker-textfield:after
  color white

.st-data-table table thead tr
  background-color $primary

.st-data-table table thead tr th
  color white

.st-data-table table tr
  background-color $neutral

.st-data-table table tbody tr:nth-child(odd)
  background-color lighten($neutral, 50%)

.st-data-table table td
  color black

.st-data-table .q-data-table-message
  color white

.usage
  margin-top 30px
