// This file is included in the build if src/main.js imports
// either app.mat.styl or app.ios.styl.
// Check "DEFAULT / CUSTOM STYLE" in src/main.js

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's core Stylus variable values. Stylus variables specific
// to the themes belong in either the app.ios.styl or app.mat.styl files.

// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the core colors
// to match your app's branding.

$primary = #455a64
$primary-light = #718792
$primary-dark = #1c313a
$secondary = #7b1fa2
$secondary-light = #af52d5
$secondary-dark = #4b0073
//$secondary = #757575
//$secondary-light = #a4a4a4
//$secondary-dark = #494949
$tertiary = #7b1fa2
$tertiary-light = #af52d5
$tertiary-dark = #4b0073

$neutral = #e1e2e1
$positive = #087f23
$negative = #d50000
$info = #2962ff
$warning = #ffd600

$light = #f4f4f4
$dark = #333
$faded = #777

$text-color = #fff
$background-color = $primary

$link-color = lighten($primary, 25%)
$link-color-active = $primary

