@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("/static/fonts/Montserrat-Thin.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("/static/fonts/Montserrat-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("/static/fonts/Montserrat-Light.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("/static/fonts/Montserrat-Bold.woff") format("woff");
}
